@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.quiz-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: $spacing-4;
  margin-bottom: $spacing-4;
}