@import '../../../styles/variables';
@import '../../../styles/mixins';

.avatar {
  border-radius: 50%;
  overflow: hidden;
  background-color: $gray-200;
  
  &--sm {
    width: 32px;
    height: 32px;
  }
  
  &--md {
    width: 40px;
    height: 40px;
  }
  
  &--lg {
    width: 56px;
    height: 56px;
  }
  
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  &__placeholder {
    width: 100%;
    height: 100%;
    @include flex(row, center, center);
    font-weight: $font-weight-bold;
    color: $gray-600;
  }
}

