@import '../../../styles/variables';
@import '../../../styles/mixins';

.lobby-contents-container {
  display: flex;
  max-height: calc(100% - 100px);
  flex-direction: row;
  gap: 30px;
  margin: 50px;
}

.lobby-roomlist-container {
  flex: 2;
  height: 800px;
}

.lobby-friendlist-container {
  flex: 1;
  height: 800px;
}